h1 {
    font-size: 40px;
    color: #101010;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

  }
  h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #101010;
  }
  .year {
    font-size: 20px;
    color: hwb(253 81% 16%);
  }
  body {
    width: 70%;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: hwb(240 73% 25%);
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 10px;
    text-align: justify;
  }
  
  li, span {
    text-align: left;
    color: hsl(210, 93%, 16%);
  }
  img {
    display: block;
  }
  image {
    max-width: 100%;
    height: auto
    }